*, *::before, *::after {
  box-sizing: border-box;
}

/* Typography and icons */

.golden-hour-title {
  margin-top: 2.5rem;
}

.golden-hour-text {
  font-weight: 700;
}

/* Layout */

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./assets/cold-sunset-background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  overflow-x: hidden; /* Prevents horizontal scrolling */
  padding: 0;
}

.golden-hour {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.5rem;
  width: 100%;
  margin: 2.5rem auto 0 auto;
}

.golden-hour-form {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  gap: 1rem;
  width: 100%;
  margin: 2.5rem 0;
}

/* .golden-hour-form .city-label,
.city-input {
  display: block;
} */

.city-label {
  font-family: inherit;
  font-weight: 500;
}

.city-input {
  width: 100%;
  padding: 0.5rem;
  margin: 1rem 0;
  border: none;
  border-radius: 0.5rem;
}

.golden-hour-result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* Buttons */

.golden-hour-submit-button {
  font-family: inherit;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

/* Images */


/* Links */


/* Media queries */

/* @media (width >= 600px) */
@media (min-width: 600px) {
  /* Typography and icons */

  .golden-hour-text {
    width: 60%;
  }

  /* Layout */

  .golden-hour-form{
    width: 40%;
  }

  .golden-hour-result-container {
    width: 60%;
  }

  /* Buttons */


  /* Images */


  /* Links */

}
