*, *::before, *::after {
  box-sizing: border-box;
}

/* Typography and icons */

.golden-hour-title {
  margin-top: 0;
}

.golden-hour-text,
.golden-hour-result-text {
  font-size: 1.125rem;
  font-weight: 700;
}

.golden-hour-result-text {
  color: whitesmoke;
  text-align: center;
  margin-bottom: 0;
}

.golden-hour-result-text:nth-of-type(2) {
  margin: 0 0 1.125rem;
}

.header-list li {
  font-size: 1.125rem;
  font-weight: 700;
  list-style: none;
  cursor: pointer;
}

.footer-text {
  font-weight: 700;
  text-align: center;
}

/* Layout */

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./assets/cold-sunset-background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  overflow-x: hidden; /* Prevents horizontal scrolling */
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.5rem 1rem 1rem;
  width: 100%;
}

.header-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

.golden-hour {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 1rem 4.5rem;
  width: 100%;
  margin: 0 auto;
}

.golden-hour-form {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  gap: 1rem;
  width: 100%;
  margin: 2.5rem 0;
}

.city-label {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 550;
}

.city-input {
  font-size: 1rem;
  width: 100%;
  padding: 1rem;
  margin: 1rem 0;
  border: none;
  border-radius: 0.5rem;
}

.golden-hour-result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem 1rem 4.5rem;
  margin: auto 0 0;
}

/* Buttons */

.golden-hour-submit-button {
  color: inherit;
  background-color: #F0D8CB;
  font-size: 1rem;
  font-family: inherit;
  font-weight: 700;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.golden-hour-submit-button:hover {
  background-color: #F3E4C4;
}

/* Images */

.weather-icon {
  margin-top: -1rem;
}

/* Links */

.footer-link {
  color: #B4C4FC;
}

.footer-link:hover {
  color: #CFD9FA;
}

/* Media queries */

/* @media (width >= 600px) */
@media (min-width: 600px) {
  /* Typography and icons */

  .golden-hour-text {
    width: 60%;
  }

  /* Layout */

  .header {
    padding: 2.5rem 1rem;
  }

  .header-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .golden-hour-form {
    width: 40%;
  }

  .golden-hour-result-container {
    width: 60%;
  }

  /* Buttons */


  /* Images */


  /* Links */

}
