*, *::before, *::after {
  box-sizing: border-box;
}

/* Typography and icons */


/* Layout */

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  overflow-x: hidden; /* Prevents horizontal scrolling */
  padding: 0;
}

.upload-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.5rem;
  width: 100%;
  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.form label,
.input-file {
  display: block;
}

.uploaded-file-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* Buttons */


/* Images */

.uploaded-image {
  width: 100%;
  border-radius: 0.5rem;
}

/* Links */


/* Media queries */

/* @media (width >= 600px) */
@media (min-width: 600px) {
  /* Typography and icons */


  /* Layout */

  .uploaded-file-container {
    width: 60%;
  }

  /* Buttons */


  /* Images */


  /* Links */

}
